# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Stuff relate to sysconfig
snappy/.deps/snappy-c.Plo
snappy/.deps/snappy-sinksource.Plo
snappy/.deps/snappy-stubs-internal.Plo
snappy/.deps/snappy.Plo
snappy/.deps/snappy_unittest-snappy-test.Po
snappy/.deps/snappy_unittest-snappy_unittest.Po
snappy/INSTALL
snappy/Makefile
snappy/Makefile.in
snappy/aclocal.m4
snappy/autom4te.cache/output.0
snappy/autom4te.cache/output.1
snappy/autom4te.cache/requests
snappy/autom4te.cache/traces.0
snappy/autom4te.cache/traces.1
snappy/config.guess
snappy/config.h
snappy/config.h.in
snappy/config.log
snappy/config.status
snappy/config.sub
snappy/configure
snappy/depcomp
snappy/install-sh
snappy/libtool
snappy/ltmain.sh
snappy/m4/libtool.m4
snappy/m4/ltoptions.m4
snappy/m4/ltsugar.m4
snappy/m4/ltversion.m4
snappy/m4/lt~obsolete.m4
snappy/missing
snappy/snappy-stubs-public.h
snappy/stamp-h1

